<div>
  Author Name: {{authorName}}<br>
  Writer Name: {{writerName}}<br>
</div>

<div>
  <button {{action "pingBook"}}>ping Author</button>
  <button {{action "pingAltBook"}}>ping Writer</button>
</div>

